In [ ]:
# Step 1: Install libraries
!pip install seaborn
!pip install pandas
!pip install numpy
!pip3 install pandas
!pip install matplotlib
!pip install xgboost
!pip install catboost
!pip install regex
!pip install scikit-learn
!pip install lightgbm
!pip install missingno
!pip install plotly.express

Requirement already satisfied: seaborn in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: pandas in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (2.2.5)
Requirement already satisfied: pandas in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: xgboost in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from xgboost) (2.2.5)
Requirement already satisfied: nvidia-nccl-cu12 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from xgboost) (2.26.2.post1)
Requirement already satisfied: scipy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from xgboost) (1.15.2)
Requirement already satisfied: catboost in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (1.2.8)
Requirement already satisfied: graphviz in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (3.10.1)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (2.2.5)
Requirement already satisfied: pandas>=0.24 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (1.15.2)
Requirement already satisfied: plotly in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (6.0.1)
Requirement already satisfied: six in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly->catboost) (1.37.0)
Requirement already satisfied: regex in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (2024.11.6)
Requirement already satisfied: scikit-learn in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.6.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: lightgbm in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (4.6.0)
Requirement already satisfied: numpy>=1.17.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from lightgbm) (2.2.5)
Requirement already satisfied: scipy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from lightgbm) (1.15.2)
Requirement already satisfied: missingno in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (0.5.2)
Requirement already satisfied: numpy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from missingno) (2.2.5)
Requirement already satisfied: matplotlib in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from missingno) (3.10.1)
Requirement already satisfied: scipy in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from missingno) (1.15.2)
Requirement already satisfied: seaborn in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (25.0)
Requirement already satisfied: pillow>=8 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.17.0)
Requirement already satisfied: pandas>=1.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from seaborn->missingno) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn->missingno) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn->missingno) (2025.2)
Requirement already satisfied: plotly.express in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (2.2.3)
Requirement already satisfied: plotly>=4.1.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (6.0.1)
Requirement already satisfied: statsmodels>=0.9.0 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (0.14.4)
Requirement already satisfied: scipy>=0.18 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (1.15.2)
Requirement already satisfied: patsy>=0.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (1.0.1)
Requirement already satisfied: numpy>=1.11 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly.express) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.20.0->plotly.express) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.20.0->plotly.express) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from pandas>=0.20.0->plotly.express) (2025.2)
Requirement already satisfied: narwhals>=1.15.1 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly>=4.1.0->plotly.express) (1.37.0)
Requirement already satisfied: packaging in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from plotly>=4.1.0->plotly.express) (25.0)
Requirement already satisfied: six>=1.5 in /workspaces/SP25-Project/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->plotly.express) (1.17.0)

In [ ]:
# Step 2: Import libraries
import pandas as pd
import numpy as np
#import statsmodels.api as sm
import matplotlib.pyplot as plt
import csv 
from sklearn.model_selection import train_test_split  # For splitting the dataset into training and testing sets
from sklearn.linear_model import LinearRegression  # Linear regression model
from sklearn.metrics import mean_squared_error, r2_score  # Evaluation metrics
import matplotlib.pyplot as plt  # For data visualization

In [ ]:
#Step 3: Aqcuire dataset
diabetes = pd.read_csv('/workspaces/SP25-Project/data/diabetic_data.csv')

In [ ]:
#Step 4: Explore and understand dataset
print(diabetes.columns)

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [68]:
diabetes.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
#Step 5: Clean dataset
diabetes.replace('?', np.nan, inplace=True)

In [70]:
diabetes.drop_duplicates(inplace=True)

In [ ]:
# Define columns to drop
# 'encounter_id', 'patient_nbr''admission_type_id', 'discharge_disposition_id', 'admission_source_id','payer_code' are patient identifying factors that do not contribute to model

# 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide','glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide','pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone','tolazamide', 'examide', 'citoglipton''glyburide-metformin', 'glipizide-metformin','glimepiride-pioglitazone', 'metformin-rosiglitazone','metformin-pioglitazone' are medications deemed by our group as insigificant

# 'diag_1', 'diag_2', 'diag_3',
# 'change'
# 'medical_specialty'

columns_to_drop = [
    'encounter_id', 'patient_nbr', 'weight',
    'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
    'payer_code', 'medical_specialty', 'diag_1', 'diag_2', 'diag_3',
    'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
    'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
    'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
    'tolazamide', 'examide', 'citoglipton',
    'glyburide-metformin', 'glipizide-metformin',
    'glimepiride-pioglitazone', 'metformin-rosiglitazone',
    'metformin-pioglitazone', 'change', 'diabetesMed'
]

# Drop the columns from the 'diabetes' dataframe
diabetes_cleaned = diabetes.drop(columns=columns_to_drop)

# View cleaned dataframe
diabetes_cleaned.head(10)

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,insulin,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,0,0,0,1,NaN,NaN,No,NO
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,9,NaN,NaN,Up,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,6,NaN,NaN,No,NO
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,7,NaN,NaN,Up,NO
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,5,NaN,NaN,Steady,NO
5,Caucasian,Male,[50-60),3,31,6,16,0,0,0,9,NaN,NaN,Steady,>30
6,Caucasian,Male,[60-70),4,70,1,21,0,0,0,7,NaN,NaN,Steady,NO
7,Caucasian,Male,[70-80),5,73,0,12,0,0,0,8,NaN,NaN,No,>30
8,Caucasian,Female,[80-90),13,68,2,28,0,0,0,8,NaN,NaN,Steady,NO
9,Caucasian,Female,[90-100),12,33,3,18,0,0,0,8,NaN,NaN,Steady,NO

In [ ]:
#Step 6: One-Hot Encoding

#"Race"
diabetes_cleaned = pd.get_dummies(
    diabetes_cleaned,
    columns=['race'],
    drop_first=True
)
#"Insulin"
insulin_dummies = pd.get_dummies(diabetes_cleaned['insulin'], prefix='insulin')
diabetes_cleaned = pd.concat([diabetes_cleaned, insulin_dummies], axis=1)
diabetes_cleaned.drop('insulin', axis=1, inplace=True)

In [ ]:
#Step 7: Map categories to numerical values

#'Readmitted'
diabetes_cleaned['readmitted'] = diabetes_cleaned['readmitted'].map({'NO': 0,'>30': 0, '<30': 1})

#'Gender'
diabetes_cleaned['gender'] = diabetes_cleaned['gender'].replace({'Male': 1, 'Female': 0})

#Map "True" and "False" values to numerical 
diabetes_cleaned = diabetes_cleaned.replace({True: 1, False: 0})

#'A1Cresult', 'None' or 'Norm' = 0, anything abnormal ('>7', '>8') = 1
diabetes_cleaned['A1Cresult'] = diabetes_cleaned['A1Cresult'].apply(
    lambda x: 1 if x in ['>7', '>8'] else 0)

#'max_glu_serum', 'None' or 'Norm' = 0, anything abnormal ('>200', '>300') = 1
diabetes_cleaned['max_glu_serum'] = diabetes_cleaned['max_glu_serum'].apply(
    lambda x: 1 if x in ['>200', '>300'] else 0)

/tmp/ipykernel_18267/1703248975.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  diabetes_cleaned = diabetes_cleaned.replace({True: 1, False: 0})

In [ ]:
#View changes
diabetes_cleaned.head(10)

,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,...,A1Cresult,readmitted,race_Asian,race_Caucasian,race_Hispanic,race_Other,insulin_Down,insulin_No,insulin_Steady,insulin_Up
0,0,[0-10),1,41,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
1,0,[10-20),3,59,0,18,0,0,0,9,...,0,0,0,1,0,0,0,0,0,1
2,0,[20-30),2,11,5,13,2,0,1,6,...,0,0,0,0,0,0,0,1,0,0
3,1,[30-40),2,44,1,16,0,0,0,7,...,0,0,0,1,0,0,0,0,0,1
4,1,[40-50),1,51,0,8,0,0,0,5,...,0,0,0,1,0,0,0,0,1,0
5,1,[50-60),3,31,6,16,0,0,0,9,...,0,0,0,1,0,0,0,0,1,0
6,1,[60-70),4,70,1,21,0,0,0,7,...,0,0,0,1,0,0,0,0,1,0
7,1,[70-80),5,73,0,12,0,0,0,8,...,0,0,0,1,0,0,0,1,0,0
8,0,[80-90),13,68,2,28,0,0,0,8,...,0,0,0,1,0,0,0,0,1,0
9,0,[90-100),12,33,3,18,0,0,0,8,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
# Step 8: Map age ranges to numerical midpoints
age_mapping = {
    '[0-10)': 5,
    '[10-20)': 15,
    '[20-30)': 25,
    '[30-40)': 35,
    '[40-50)': 45,
    '[50-60)': 55,
    '[60-70)': 65,
    '[70-80)': 75,
    '[80-90)': 85,
    '[90-100)': 95
}
diabetes_cleaned['age'] = diabetes_cleaned['age'].map(age_mapping)
# Confirm changes
diabetes_cleaned[['age']].head(20)

    age
0     5
1    15
2    25
3    35
4    45
5    55
6    65
7    75
8    85
9    95
10   45
11   65
12   45
13   85
14   65
15   65
16   55
17   55
18   75
19   75

In [ ]:
#Step 9: Fill missing numerical values with mean to treat data imbalance
numeric_cols = diabetes_cleaned.select_dtypes(include=['float64', 'int64']).columns
diabetes_cleaned[numeric_cols] = diabetes_cleaned[numeric_cols].fillna(diabetes_cleaned[numeric_cols].mean())

In [ ]:
#Step 10: View cleaned dataframe
diabetes_cleaned.head(20)

,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,...,A1Cresult,readmitted,race_Asian,race_Caucasian,race_Hispanic,race_Other,insulin_Down,insulin_No,insulin_Steady,insulin_Up
0,0,5,1,41,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
1,0,15,3,59,0,18,0,0,0,9,...,0,0,0,1,0,0,0,0,0,1
2,0,25,2,11,5,13,2,0,1,6,...,0,0,0,0,0,0,0,1,0,0
3,1,35,2,44,1,16,0,0,0,7,...,0,0,0,1,0,0,0,0,0,1
4,1,45,1,51,0,8,0,0,0,5,...,0,0,0,1,0,0,0,0,1,0
5,1,55,3,31,6,16,0,0,0,9,...,0,0,0,1,0,0,0,0,1,0
6,1,65,4,70,1,21,0,0,0,7,...,0,0,0,1,0,0,0,0,1,0
7,1,75,5,73,0,12,0,0,0,8,...,0,0,0,1,0,0,0,1,0,0
8,0,85,13,68,2,28,0,0,0,8,...,0,0,0,1,0,0,0,0,1,0
9,0,95,12,33,3,18,0,0,0,8,...,0,0,0,1,0,0,0,0,1,0
10,0,45,9,47,2,17,0,0,0,9,...,0,0,0,0,0,0,0,0,1,0
11,1,65,7,62,0,11,0,0,0,7,...,0,1,0,0,0,0,0,0,1,0
12,0,45,7,60,0,15,0,1,0,8,...,0,1,0,1,0,0,1,0,0,0
13,1,85,10,55,1,31,0,0,0,8,...,0,0,0,1,0,0,0,0,1,0
14,0,65,1,49,5,2,0,0,0,8,...,0,0,0,0,0,0,0,0,1,0
15,1,65,12,75,5,13,0,0,0,9,...,0,0,0,0,0,0,0,0,0,1
16,1,55,4,45,4,17,0,0,0,8,...,0,1,0,0,0,0,0,0,1,0
17,0,55,3,29,0,11,0,0,0,3,...,0,0,0,1,0,0,0,1,0,0
18,1,75,5,35,5,23,0,0,0,9,...,0,0,0,0,0,0,0,0,1,0
19,1,75,6,42,2,23,0,0,0,8,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
#Step 11: Save cleaned dataframe as CSV file
diabetes_cleaned.to_csv('/workspaces/SP25-Project/data/diabetes_cleaned.csv', index=False)
print("Cleaned data saved to '/workspaces/SP25-Project/data/diabetes_cleaned.csv'")

Cleaned data saved to '/workspaces/SP25-Project/data/diabetes_cleaned.csv'